.brand__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.loading {
  width: 75px;
  height: 75px;
  background-color: #282828;
  animation: logoSpin 6s infinite;
  clip-path: polygon(0% 0%, 0 100%, 44% 100%, 44% 58%, 67% 58%, 68% 13%, 85% 13%, 76% 100%, 100% 100%, 100% 0, 54% 0%, 54% 38%, 32% 38%, 32% 87%, 13% 87%, 24% 0);
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  clip-path: polygon(0% 0%, 0 100%, 44% 100%, 44% 58%, 67% 58%, 68% 13%, 85% 13%, 76% 100%, 100% 100%, 100% 0, 54% 0%, 54% 38%, 32% 38%, 32% 87%, 13% 87%, 24% 0);
    }
  25% {
    clip-path: polygon(0% 0%, 0 100%, 44% 100%, 44% 58%, 67% 58%, 68% 58%, 80% 58%, 76% 100%, 100% 100%, 100% 0, 54% 0%, 54% 38%, 32% 38%, 31% 38%, 19% 38%, 24% 0);
  }
  50% {
    clip-path: polygon(0% 0%, 0 100%, 68% 100%, 68% 58%, 67% 58%, 68% 58%, 80% 58%, 76% 100%, 100% 100%, 100% 0, 34% 0, 34% 38%, 32% 38%, 31% 38%, 19% 38%, 24% 0);
    transform: rotate(0deg);
  }
  75% {
    clip-path: polygon(0% 0%, 0 100%, 68% 100%, 68% 100%, 67% 100%, 68% 100%, 76% 100%, 76% 100%, 100% 100%, 100% 0, 34% 0, 34% 0, 32% 0, 31% 0, 23% 0, 24% 0);
  }
  76% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes logoSpin {
  0%,100%   {
    clip-path: polygon(0% 0%, 0 100%, 44% 100%, 44% 58%, 67% 58%, 68% 13%, 85% 13%, 76% 100%, 100% 100%, 100% 0, 54% 0%, 54% 38%, 32% 38%, 32% 87%, 13% 87%, 24% 0);
    }

  12.5%, 87.5% {
    clip-path: polygon(0% 0%, 0 100%, 44% 100%, 44% 58%, 67% 58%, 68% 58%, 80% 58%, 76% 100%, 100% 100%, 100% 0, 54% 0%, 54% 38%, 32% 38%, 31% 38%, 19% 38%, 24% 0);
   }

  25%, 75%  {
    clip-path: polygon(0% 0%, 0 100%, 68% 100%, 68% 58%, 67% 58%, 68% 58%, 80% 58%, 76% 100%, 100% 100%, 100% 0, 34% 0, 34% 38%, 32% 38%, 31% 38%, 19% 38%, 24% 0);
  }
  37.5%, 62.5% {
    clip-path: polygon(0% 0%, 0 100%, 68% 100%, 68% 100%, 67% 100%, 68% 100%, 76% 100%, 76% 100%, 100% 100%, 100% 0, 34% 0, 34% 0, 32% 0, 31% 0, 23% 0, 24% 0);
  }
  37.6%, 50.01% {
    transform: rotate(0deg);
  }
  50%  {
    transform: rotate(180deg);
  }
}
